<html>
    <head>
        <title>Inventory Tracking System</title>
        <style>
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <form method="post" action="/products/create" />
            <input type ="text" name="name" />
            <input type="submit" value="Add Product" />
        </form>
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for d in tableData %}
                    <tr>
                        <td> <input type ="checkbox" />{{d.name}}</td>
                        <td><input type="submit" value="Edit" />
                        <input type="submit" value="Update" />
                        <input type="submit" value="Delete" /></td>
                    </tr>
                {% endfor %}
            </tbody>
    </body>
</html>

