<html>
    <head>
        <title>Location Listings</title>
    </head>
    <body>
        <h3>Location Listings</h3>
        <form method="get" action="/locations/create" />
        <input type="submit" value="Add Location" />
    </form>
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for d in tableData %}
                    <tr>
                        <td> {{d.name}}</td>
                        <form method = "get" action ="/locations/{{d.id}}/edit" />
                        <td>
                        <input type="submit" value="Edit" />
                        </td>
                        </form>
                        <form method ="post" action="/locations/{{d.id}}/delete">
                        <td>
                        <input type="submit" value="Delete" 
                        onclick="return confirm('Are you sure you want to delete this entry')" />
                        </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
<form method="get" action="/" />
    <input type="submit" value="View Inventory" />
</form>
<form method="get" action="/products" />
    <input type="submit" value="View Products" />
</form>
</html>

